<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yes or No</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
         //alert("document.domain : ", document.domain);
         //alert('location.port: ', location.port);

         const socket = io.connect('http://' + document.domain + ':' + location.port);
         socket.on('update_count', function(data) {
             document.getElementById(data.countId).innerText = data.value;
         });
        function incrementCount(buttonId, countId) {
          let countElement = document.getElementById(countId);
          let currentCount = parseInt(countElement.innerText);
          socket.emit('increment', {'countId': countId, 'value': currentCount});
        }
        function resetCounts() {
          document.getElementById('yesCount').innerText = "0";
          document.getElementById('noCount').innerText = "0";
          socket.emit('reset_counts');
        }
        socket.on('connect', function() {
          socket.emit('get_initial_counts');
        });
    </script>
</head>
<body>

<div class="button-container">
    <!-- Yes Button -->
    <div>
        <img src="../static/yes.png" alt="Yes" style="cursor:pointer;" onclick="incrementCount('yesButton', 'yesCount')">
        <div id="yesCount" class="count">0</div>
    </div>

    <!-- No Button -->
    <div>
        <img src="../static/no.png" alt="No" style="cursor:pointer;" onclick="incrementCount('noButton', 'noCount')">
        <div id="noCount" class="count">0</div>
    </div>
</div>

<!-- Reset Button -->
{% if is_admin %}
<button onclick="resetCounts()">Reset Counts</button>
{% endif %}
</body>
</html>
